
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    background: url("../css/img/food.jpg") no-repeat;
    background-size: cover;
}

.box{
    width: 900px;
    float:right;
    border:1px solid black;
}

.box ul li {
    width:120px;
    float:left;
    margin:10px auto;
    text-align: center;

}

.box ul li a {
    text-decoration: none;
    color:black;
}

.box ul li:hover {
    background-color: red;
    }

    .first-text {
        width: 300px;
        height: 539px;
        background-color: red;
        opacity: 0,9;
        padding:55px;
    }

    .first-text h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 100px;
    }

    .first-text h4 {
        text-align: center;
        font-weight: normal;
    }

    .menu {width: 300px;
        height: 539px;
        background-color: red;
        opacity: 0, 9;
        padding:50px;
        

    }

    .dricks {
            width: 300px;
            height: 539px;
            background-color: red;
            opacity: 0, 9;
            padding:50px;
    }

    .stylemenu {width: 900px;
        float: right;
        border: 1px solid black;

    }

    .stylemenu ul li {width: 120px;
        float: left;
        margin: 10px auto;
        text-align: center;

    }

    .stylemenu ul li a {text-decoration: none;
        color: black;

    }

    .stylemenu ul li:hover {
        background-color: red;
    }